body {
	background: $white;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.wrapper {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: $white;
}

.hide {
	display: none !important;
}

.img__item {
	&--prize {
		height: 100%;
		object-fit: contain;
	}
}
