body {
	background: $white;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.wrapper {
	display: flex;
	flex-flow: column;
	min-height: 100vh;

	&--hidden {
		overflow: hidden;
	}
}

.main {
	flex: 1 0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: $white;
	color: $darkGreen;

	&:before {
		content: '';
		position: absolute;
		top: 1425px;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("../img/main-bg.png") top center repeat-y;
		background-size: contain;
		z-index: -1;

		@media screen and (max-width: 1023px) {
			top: 12%;
		}

		@media screen and (max-width: 767px) {
			top: 3%;
			background: url("../img/main-bg-mob.png") top center repeat-y;
			background-size: 100%;
		}
	}
}

.img__item {
	height: 100%;
	object-fit: contain;
}

.highlight {
	color: $pink;
}
