body {
	background: $white;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.wrapper {
	display: flex;
	flex-flow: column;
	min-height: 100vh;

	&--hidden {
		overflow: hidden;
	}
}

.main {
	flex: 1 0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: $white;
	color: $darkGreen;

	&:before {
		content: '';
		position: absolute;
		top: 1425px;
		left: 0;
		width: 1556px;
		height: 92%;
		background: url("../img/main-bg.png") no-repeat;
		background-size: contain;
		z-index: -1;

		@media screen and (max-width: 1365px) {
			top: 15%;
			width: 1400px;
			margin: 0 -30px;
		}

		@media screen and (max-width: 767px) {
			top: 3%;
			height: 195%;
			width: calc(100% + 30px);
			background: url("../img/main-bg-mob.png") no-repeat;
			background-size: contain;
			margin: 0 -15px;
		}
	}
}

.hide {
	display: none !important;
}

.img__item {
	height: 100%;
	object-fit: contain;
}

.highlight {
	color: $pink;
}
