.footer {
	background: $pale;
	padding: 75px 0 25px;

	@media screen and (max-width: 1023px) {
		padding: 60px 0;
	}

	&__content {
		display: flex;

		@media screen and (max-width: 1023px) {
			flex-flow: column;
		}
	}

	&__part {
		&--left {
			width: 55%;
			max-width: 625px;

			@media screen and (max-width: 1365px) {
				width: 50%;
			}

			@media screen and (max-width: 1023px) {
				width: 100%;
				margin: 0 auto 40px;
			}
		}

		&--right {
			width: 45%;
			padding-left: 65px;

			@media screen and (max-width: 1365px) {
				width: 50%;
				padding-left: 45px;
			}

			@media screen and (max-width: 1023px) {
				width: 100%;
				padding-left: 0;
				max-width: 450px;
				margin: 0 auto;
			}
		}
	}

	&__header {
		margin-bottom: 25px;

		@media screen and (max-width: 1023px) {
			text-align: center;
			margin-bottom: 15px;
		}
	}

	&__title {
		&--main {
			font: 16px/150% $ProximaNovaSoftBold;
			color: $dimGreen;
			margin-bottom: 25px;
			max-width: 385px;

			@media screen and (max-width: 1023px) {
				margin: 0 auto 15px;
				text-align: center;
			}
		}
	}

	&__descrip {
		font: 13px/150% $ProximaNovaSoftBold;
		color: $darkGreen;
		padding-right: 30px;

		@media screen and (max-width: 1023px) {
			padding-right: 0;
			text-align: center;
		}
	}

	&__block {
		width: 100%;
		max-width: 295px;
		padding-right: 55px;

		@media screen and (max-width: 1365px) {
			max-width: 270px;
			padding-right: 30px;
		}
	}

	&__img {
		display: block;
		width: 660px;
		height: 330px;
		margin-top: -25px;
		margin-left: -40px;

		@media screen and (max-width: 1365px) {
			width: 560px;
			height: auto;
		}

		@media screen and (max-width: 1023px) {
			margin: -10px auto;
		}
	}

	&__contacts {
		display: flex;
		margin-bottom: 50px;
	}

	&__social {
		display: flex;
		align-items: flex-start;
	}

	&__link {
		font: 20px/150% $ProximaNovaSoftBold;
		color: $dimGreen;

		&:hover {
			color: $darkGreen;
		}
	}
}
