.nav {
	position: absolute;
	top: 80px;
	left: -15px;
	width: 1160px;
	z-index: 10;
	overflow: hidden;

	@media screen and (max-width: 1365px) {
		width: 100%;
	}

	@media screen and (max-width: 767px) {
		top: 65px;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (max-width: 374px) {
		top: 60px;
	}

	&--active {
		overflow: visible;

		.nav {
			&__tab {
				transform: translateY(0);
				opacity: 1;
			}

			&__wrap:before {
				transform: translateY(0);
			}
		}
	}

	&__content {
		display: none;
		background: $white;

		@media screen and (max-width: 1023px) {
			margin-top: -15px;
		}

		@media screen and (max-width: 767px) {
			margin-top: 0;
			height: calc(100vh - 50px);
			overflow: scroll;
		}

		@media screen and (max-width: 374px) {
			height: calc(100vh - 60px);
		}
	}

	&__tab {
		position: absolute;
		top: -60px;
		left: 0;
		font: 18px $ProximaNovaSoftBold;
		color: $lightPink;
		width: 280px;
		height: 70px;
		background: $white;
		box-shadow: 0 1px 10px rgba(116, 116, 116, .15);
		border-radius: 5px;
		text-align: center;
		padding: 20px 30px;
		z-index: 5;
		transform: translateY(100%);
		transition: transform .5s ease-in-out, opacity .25s ease-in-out .25s;
		opacity: 0;

		@media screen and (max-width: 1023px) {
			top: -70px;
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__wrap {
		padding: 30px 30px 115px 110px;
		display: flex;
		box-shadow: 0 1px 10px rgba(116, 116, 116, .15);
		border-radius: 5px 5px 10px 10px;
		background: $white;
		position: relative;
		z-index: 5;

		@media screen and (max-width: 1365px) {
			padding: 30px 40px 85px;
		}

		@media screen and (max-width: 1023px) {
			flex-flow: column;
			padding-top: 20px;
			padding-bottom: 40px;
		}

		@media screen and (max-width: 767px) {
			border-radius: 0;
			box-shadow: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 0;
			width: 280px;
			height: 20px;
			background: $white;
			z-index: 1;
			transform: translateY(100%);
			transition: transform .25s ease-in-out;

			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}
}
