.section {
	position: relative;

	&--page-header {
		background: $lightGreen;
		padding: 40px 0 25px;
		margin-bottom: 85px;
	}

	&--prizes {
		margin-bottom: 50px;
	}

	&--review {
		margin-bottom: 115px;
	}

	&__wrap {
		&--prizes {
			display: flex;
			margin-right: -30px;
		}
	}
}
