.section {
	position: relative;

	&--page-header {
		background: $lightGreen;
		padding: 40px 0 25px;
		margin-bottom: 85px;
	}

	&--prizes {
		margin-bottom: 50px;
	}

	&--review {
		margin-bottom: 110px;
	}

	&--shampoo {
		margin-bottom: 145px;
	}

	&--context {
		margin-bottom: 200px;
	}

	&--faq {
		margin-bottom: 185px;
	}

	&--related {
		margin-bottom: 100px;
	}

	&--possibly {
		background: $lighterGreen;
	}

	&__wrap {
		&--page-header {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: -35px;
				right: -155px;
				width: 745px;
				height: 345px;
				background: url("../img/page-header-bg.png") no-repeat;
				background-size: cover;
			}
		}

		&--prizes {
			display: flex;
			margin-right: -30px;
		}

		&--context {
			margin-bottom: 70px;
		}

		&--author {
			border-top: 1px solid rgba(30, 144, 122, 0.2);
			padding-top: 10px;
		}

		&--faq {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 20px;
				right: -50px;
				width: 505px;
				height: 670px;
				background: url("../img/dog.png") no-repeat;
				background-size: cover;
				z-index: -1;
			}

			&:after {
				content: '';
				position: absolute;
				top: -20px;
				right: -155px;
				width: 830px;
				height: 690px;
				background: url("../img/faq-bg.png") no-repeat;
				background-size: cover;
				z-index: -1;
			}
		}

		&--post {
			display: flex;
		}

		&--possibly {
			padding: 50px 0 70px;
		}

		&--post-link {
			display: flex;
			flex-flow: wrap;
			margin-right: -40px;
			margin-bottom: -30px;
		}
	}

	&__title {
		font: 38px/120% $ProximaNovaSoftBold;
		letter-spacing: .02em;
		color: $darkGreen;

		&--main {
			font-size: 50px;
			margin-bottom: 15px;
			max-width: 600px;
		}

		&--shampoo {
			padding-left: 200px;
			margin-bottom: 70px;
		}

		&--faq {
			margin-bottom: 30px;
		}

		&--related {
			text-align: center;
			margin-bottom: 25px;
		}

		&--possibly {
			text-align: center;
			margin-bottom: 60px;
		}
	}

	&__subtitle {
		font: 18px/125% $ProximaNovaSoftBold;
		color: $dimGreen;
		margin-bottom: 35px;

		&--faq {
			max-width: 500px;
		}

		&--related {
			max-width: 670px;
			text-align: center;
			margin: 0 auto 50px;
		}
	}
}
