.section {
	position: relative;

	&--page-header {
		background: $lightGreen;
		padding: 40px 0 25px;
		margin-bottom: 85px;

		@media screen and (max-width: 1365px) {
			padding-top: 25px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 70px;
		}

		@media screen and (max-width: 374px) {
			padding: 20px 0;
		}
	}

	&--prize {
		margin-bottom: 50px;

		@media screen and (max-width: 1023px) {
			margin-bottom: 40px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}
	}

	&--review {
		margin-bottom: 110px;

		@media screen and (max-width: 1365px) {
			margin-bottom: 90px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 70px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 50px;
		}

		@media screen and (max-width: 374px) {
			margin-bottom: 35px;
		}
	}

	&--shampoo {
		margin-bottom: 145px;

		@media screen and (max-width: 1365px) {
			margin-bottom: 120px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 90px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 60px;
		}
	}

	&--context {
		margin-bottom: 100px;

		@media screen and (max-width: 1023px) {
			margin-bottom: 90px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 70px;
		}

		@media screen and (max-width: 374px) {
			margin-bottom: 55px;
		}
	}

	&--faq {
		margin-bottom: 65px;

		@media screen and (max-width: 1023px) {
			margin-bottom: 110px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}

		@media screen and (max-width: 374px) {
			margin-bottom: 0;
		}
	}

	&--related {
		margin-bottom: 100px;

		@media screen and (max-width: 1023px) {
			margin-bottom: 70px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 90px;
		}

		@media screen and (max-width: 374px) {
			margin-bottom: 75px;
		}
	}

	&--possibly {
		background: $lighterGreen;
	}

	&__wrap {
		&--page-header {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: -35px;
				right: -155px;
				width: 745px;
				height: 345px;
				background: url("../img/page-header-bg.png") no-repeat;
				background-size: cover;

				@media screen and (max-width: 1365px) {
					right: -255px;
				}

				@media screen and (max-width: 1023px) {
					right: -215px;
					width: 600px;
					height: 255px;
				}

				@media screen and (max-width: 767px) {
					right: -70%;
					top: 40%;
					width: 470px;
					height: 200px;
				}

				@media screen and (max-width: 374px) {
					right: -95%;
					top: 30%;
				}
			}
		}

		&--context {
			margin-bottom: 70px;

			@media screen and (max-width: 1023px) {
				margin-bottom: 50px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 30px;
			}
		}

		&--author {
			border-top: 1px solid rgba(30, 144, 122, 0.2);
			padding-top: 10px;
		}

		&--faq {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 20px;
				right: -50px;
				width: 505px;
				height: 670px;
				background: url("../img/dog.png") no-repeat;
				background-size: cover;
				z-index: -1;

				@media screen and (max-width: 1023px) {
					top: 90%;
					right: 50%;
					transform: translateX(50%);
				}

				@media screen and (max-width: 767px) {
					top: 92%;
				}

				@media screen and (max-width: 374px) {
					width: 410px;
					height: 545px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: -20px;
				right: -155px;
				width: 830px;
				height: 690px;
				background: url("../img/faq-bg.png") no-repeat;
				background-size: cover;
				z-index: -1;

				@media screen and (max-width: 767px) {
					right: 50%;
					width: 100vw;
					height: 200%;
					transform: translateX(50%);
					background: url("../img/faq-bg-2.png") repeat-y;
					background-size: 100%;
				}
			}
		}

		&--possibly {
			padding: 50px 0 80px;

			@media screen and (max-width: 1365px) {
				padding-bottom: 60px;
			}

			@media screen and (max-width: 1023px) {
				padding-bottom: 50px;
			}

			@media screen and (max-width: 767px) {
				padding: 40px 0 45px;
			}

			@media screen and (max-width: 374px) {
				padding: 30px 0;
			}
		}
	}

	&__title {
		font: 38px/120% $ProximaNovaSoftBold;
		letter-spacing: .02em;
		color: $darkGreen;

		@media screen and (max-width: 1023px) {
			font-size: 32px;
		}

		@media screen and (max-width: 767px) {
			font-size: 24px;
		}

		&--main {
			font-size: 50px;
			margin-bottom: 15px;
			max-width: 600px;

			@media screen and (max-width: 1365px) {
				font-size: 46px;
			}

			@media screen and (max-width: 1023px) {
				font-size: 40px;
				max-width: 500px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 30px;
				font-size: 36px;
				letter-spacing: 0;
				padding-right: 60px;
			}

			@media screen and (max-width: 374px) {
				font-size: 32px;
				margin-bottom: 20px;
				padding-right: 30px;
			}
		}

		&--shampoo {
			padding-left: 200px;
			margin-bottom: 70px;

			@media screen and (max-width: 1365px) {
				padding-left: 0;
				text-align: center;
				margin-bottom: 50px;
			}

			@media screen and (max-width: 1023px) {
				margin-bottom: 30px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 374px) {
				margin-bottom: 15px;
			}
		}

		&--faq {
			margin-bottom: 25px;

			@media screen and (max-width: 1023px) {
				margin-bottom: 20px;
				text-align: center;
			}

			@media screen and (max-width: 767px) {
				padding: 0 30px;
				margin-bottom: 15px;
			}
		}

		&--related {
			text-align: center;
			margin-bottom: 25px;

			@media screen and (max-width: 1023px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 15px;
			}
		}

		&--possibly {
			text-align: center;
			margin-bottom: 60px;

			@media screen and (max-width: 1023px) {
				margin-bottom: 40px;
			}

			@media screen and (max-width: 767px) {
				padding: 0 15px;
				max-width: 250px;
				margin: 0 auto 35px;
			}

			@media screen and (max-width: 374px) {
				margin-bottom: 25px;
			}
		}
	}

	&__subtitle {
		font: 18px/125% $ProximaNovaSoftBold;
		color: $dimGreen;
		margin-bottom: 40px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
		}

		&--faq {
			max-width: 500px;

			@media screen and (max-width: 1023px) {
				text-align: center;
				margin: 0 auto 25px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 30px;
			}

			@media screen and (max-width: 374px) {
				margin-bottom: 25px;
			}
		}

		&--related {
			max-width: 670px;
			text-align: center;
			margin: 0 auto 50px;

			@media screen and (max-width: 1023px) {
				margin-bottom: 30px;
			}

			@media screen and (max-width: 767px) {
				padding: 0 20px;
				margin-bottom: 20px;
			}

			@media screen and (max-width: 374px) {
				padding: 0 10px;
			}
		}
	}
}
