include ../data/data

nav.nav
	.nav__tab
		| All Categories
	.nav__content
		.nav__wrap

			each menuItem in menu
				- const { title: titleMenu = '', pages: menuPages = [], icon: menuIcon = '' } = menuItem;
				
				article.menu.menu--header
					h3.menu__title
						span.menu__text(class=`menu__text--${menuIcon}`)=titleMenu
					ul.menu__list.menu__list--header
				
						each menuPagesItem in menuPages
							li.menu__item.menu__item--header
								a.menu__link.menu__link--header(href="#")=menuPagesItem
