footer.footer
	.container
		header.footer__header
			a.logo.logo--footer.img(href="/")
				img.img__item(src="img/logo.png" alt="logo")
		.footer__content
			.footer__part.footer__part--left
				h4.footer__title.footer__title--main The World’s Best Product Reviews, Aquipments and Advice For Your Pets
				p.footer__descrip MyPetsNeedThat.com is a participant in Amazon Services LLC Associates Program, an affiliate advertising program designed to provide means for sites to earn advertising and linking to amazon.com
				picture.footer__img.img
					img.img__item(src="img/dogs.png" alt="dogs")
			.footer__part.footer__part--right
				.footer__contacts
					article.contacts.footer__block.footer__block--left
						h3.contacts__title Contacts
						address.contacts__address
							span.contacts__text 7000 Stinson Hartis Road, Suit
							span.contacts__text G-6191, Indian Trail, NC 28079, USA 
						a.contacts__phone(href="tel:+16692238682") +1 669-223-8682
					article.menu.menu--footer
						ul.menu__list
							
							- for (let i = 0; i < menuPage.length; i++)
							
								li.menu__item
									a.menu__link(href="#")=menuPage[i]
								
				.footer__social
					article.social.footer__block.footer__block--left
						h3.social__title.social__title--footer Follow #MyPetsNessThat
						ul.social__list
							
							- const socialFooter = ['fbookF', 'twitF', 'utube', 'instaF', 'pint'];
							
							- for (let i = 0; i < socialFooter.length; i++)
							
								li.social__item.social__item--footer
									a.social__link.social__link--footer(href="#" target="_blank")
										svg.icon.icon--social-footer(class=`icon--social-${socialFooter[i]}`)
											use.icon__item(xlink:href=`#${socialFooter[i]}`)
												
					h3.footer__title.footer__title--single Protected By
