header.header
	.container
		.header__wrap
			a.btn.btn--burger(href="#")
				.btn__lines
					small.btn__line.btn__line--top
					small.btn__line.btn__line--mid
					small.btn__line.btn__line--bot
			a.logo.logo--header.img(href="/")
				img.img__item(src="img/logo.png" alt="logo")
			a.btn.btn--search(href="#")
				svg.icon.icon--search
					use.icon__item(xlink:href="#search")
						
			include template-parts/nav.pug
		
