header.header
	a.btn.btn--burger(href="#")
		.btn__lines
			small.btn__line.btn__line--top
			small.btn__line.btn__line--mid
			small.btn__line.btn__line--bot
	a.logo.img(href="/")
		img.img__item(src="img/logo.png" alt="logo")
	a.btn.btn--search(href="#")
		svg.icon.icon--search
			use.icon__item(xlink:href="#search")
