
<nav class="nav">
  <div class="nav__tab">All Categories</div>
  <div class="nav__content">
    <div class="nav__wrap">
      <article class="menu menu--header">
        <h3 class="menu__title"><span class="menu__text menu__text--dog">dogs</span></h3>
        <ul class="menu__list menu__list--header">
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Dogs Equipment</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Dogs Food</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Dogs Health</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Dogs Training</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Dogs Breeds</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Puppies</a></li>
        </ul>
      </article>
      <article class="menu menu--header">
        <h3 class="menu__title"><span class="menu__text menu__text--cat">cats</span></h3>
        <ul class="menu__list menu__list--header">
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Cats Equipment</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Cats Food</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Cats Health</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Cats Training</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Cats Breeds</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">kitties</a></li>
        </ul>
      </article>
      <article class="menu menu--header">
        <h3 class="menu__title"><span class="menu__text menu__text--fish">fish</span></h3>
        <ul class="menu__list menu__list--header">
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Food Treatment</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Aquariums</a></li>
        </ul>
      </article>
      <article class="menu menu--header">
        <h3 class="menu__title"><span class="menu__text menu__text--parrot">birds</span></h3>
        <ul class="menu__list menu__list--header">
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Food</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Accessories</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Care</a></li>
        </ul>
      </article>
      <article class="menu menu--header">
        <h3 class="menu__title"><span class="menu__text menu__text--rat">small animals</span></h3>
        <ul class="menu__list menu__list--header">
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Hamsters</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Gerbils</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Rabbits</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Rats</a></li>
          <li class="menu__item menu__item--header"><a class="menu__link menu__link--header" href="#">Guinea Pigs</a></li>
        </ul>
      </article>
    </div>
  </div>
</nav>