
<footer class="footer">
  <div class="container container--large">
    <header class="footer__header"><a class="logo logo--footer img" href="/"><img class="img__item" src="img/logo.png" alt="logo"/></a></header>
    <div class="footer__content">
      <div class="footer__part footer__part--left">
        <h4 class="footer__title footer__title--main">The World’s Best Product Reviews, Aquipments and Advice For Your Pets</h4>
        <p class="footer__descrip">MyPetsNeedThat.com is a participant in Amazon Services LLC Associates Program, an affiliate advertising program designed to provide means for sites to earn advertising and linking to amazon.com</p>
        <picture class="footer__img img"><img class="img__item" src="img/dogs.png" alt="dogs"/></picture>
      </div>
      <div class="footer__part footer__part--right">
        <div class="footer__contacts">
          <article class="contacts footer__block footer__block--left">
            <h3 class="contacts__title">Contacts</h3>
            <address class="contacts__address"><span class="contacts__text">7000 Stinson Hartis Road, Suit</span><span class="contacts__text">G-6191, Indian Trail, NC 28079, USA </span></address><a class="contacts__phone" href="tel:+16692238682">+1 669-223-8682</a>
          </article>
          <article class="menu menu--footer">
            <ul class="menu__list">
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">about us</a></li>
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">sitemap</a></li>
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">provacy policy</a></li>
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">disclosure</a></li>
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">medical</a></li>
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">disclaimer</a></li>
              <li class="menu__item menu__item--footer"><a class="menu__link menu__link--footer" href="#">contact us</a></li>
            </ul>
          </article>
        </div>
        <div class="footer__social">
          <article class="social footer__block footer__block--left">
            <h3 class="social__title social__title--footer">Follow #MyPetsNessThat</h3>
            <ul class="social__list">
              <li class="social__item social__item--footer"><a class="social__link social__link--footer" href="#" target="_blank">
                  <svg class="icon icon--social-footer icon--social-fbookF">
                    <use class="icon__item" xlink:href="#fbookF"></use>
                  </svg></a></li>
              <li class="social__item social__item--footer"><a class="social__link social__link--footer" href="#" target="_blank">
                  <svg class="icon icon--social-footer icon--social-twitF">
                    <use class="icon__item" xlink:href="#twitF"></use>
                  </svg></a></li>
              <li class="social__item social__item--footer"><a class="social__link social__link--footer" href="#" target="_blank">
                  <svg class="icon icon--social-footer icon--social-utube">
                    <use class="icon__item" xlink:href="#utube"></use>
                  </svg></a></li>
              <li class="social__item social__item--footer"><a class="social__link social__link--footer" href="#" target="_blank">
                  <svg class="icon icon--social-footer icon--social-instaF">
                    <use class="icon__item" xlink:href="#instaF"></use>
                  </svg></a></li>
              <li class="social__item social__item--footer"><a class="social__link social__link--footer" href="#" target="_blank">
                  <svg class="icon icon--social-footer icon--social-pint">
                    <use class="icon__item" xlink:href="#pint"></use>
                  </svg></a></li>
            </ul>
          </article><a class="footer__link" href="#">Protected By</a>
        </div>
      </div>
    </div>
  </div>
</footer>