
<header class="header">
  <div class="container">
    <div class="header__wrap"><a class="btn btn--burger" href="#">
        <div class="btn__lines"><small class="btn__line btn__line--top"></small><small class="btn__line btn__line--mid"></small><small class="btn__line btn__line--bot"></small></div></a><a class="logo img" href="/"><img class="img__item" src="img/logo.png" alt="logo"/></a><a class="btn btn--search" href="#">
        <svg class="icon icon--search">
          <use class="icon__item" xlink:href="#search"></use>
        </svg></a></div>
  </div>
</header>