<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Главная</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" defer src="js/script.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false">
      <symbol id="search" viewBox="0 0 21 21">
        <path d="M14.531 12.461a7.897 7.897 0 1 0-12.89-9.126 7.896 7.896 0 0 0 10.461 11.363l5.823 5.788a1.653 1.653 0 1 0 2.337-2.337l-5.73-5.688zm-6.45.54a5.094 5.094 0 0 1-.004-10.186 5.093 5.093 0 0 1 .008 10.186H8.08z"></path>
      </symbol>
    </svg>
    <div class="wrapper">
      <header class="header"><a class="btn btn--burger" href="#">
          <div class="btn__lines"><small class="btn__line btn__line--top"></small><small class="btn__line btn__line--mid"></small><small class="btn__line btn__line--bot"></small></div></a><a class="logo img" href="/"><img class="img__item" src="img/logo.png" alt="logo"></a><a class="btn btn--search" href="#">
          <svg class="icon icon--search">
            <use class="icon__item" xlink:href="#search"></use>
          </svg></a></header>
      <main class="main">
        <section class="represent"></section>
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>