$white: #fff;
$darkGreen: #0E4434;
$lightPink: #FF7898;
$dimGreen: #1E907A;
$darkDimGreen: #2C5B4E;
$lightWhiteGreen: #DFFFE7;
$lighterRed: #FFA693;
$pink: #FF4E78;
$darkerGreen: #003525;
$lightGreen: #A0ECB5;
$black: #000;
$dimYellow: #FFE49F;
$turquoise: #76DFCB;
$gray: #EFEFEF;
$lighterGreen: #C8FFD7;
