$ProximaNovaSoftSemibold: 'ProximaNovaSoft-Semibold', sans-serif;
$ProximaNovaSoftRegular: 'ProximaNovaSoft-Regular', sans-serif;
$ProximaNovaSoftBold: 'ProximaNovaSoft-Bold', sans-serif;

@include font('ProximaNovaSoft-Semibold', 'ProximaNovaSoftW03-Semibold', 600, normal);
@include font('ProximaNovaSoft-Regular', 'ProximaNovaSoft-Regular', 400, normal);
@include font('ProximaNovaSoft-Bold', 'ProximaNovaSoft-Bold', 700, normal);
