.author {
	display: grid;
	grid-template-columns: 1fr 3fr;

	&__avatar {
		margin-right: 25px;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		border: 13px solid $lightWhiteGreen;
		grid-column: 1/2;
		grid-row: 1/3;
		overflow: hidden;

		@media screen and (max-width: 1023px) {
			width: 150px;
			height: 150px;
		}

		@media screen and (max-width: 767px) {
			width: 90px;
			height: 90px;
			border-width: 10px;
			grid-row: 1/2;
			margin-bottom: 10px;
			margin-right: 20px;
		}
	}

	&__header {
		margin-bottom: 15px;
		grid-row: 1/2;
		grid-column: 2;
		display: flex;
		flex-flow: column;
	}

	&__name {
		font: 22px/150% $ProximaNovaSoftBold;
		color: $darkerGreen;
		text-transform: capitalize;
		display: inline-block;

		@media screen and (max-width: 767px) {
			font-size: 18px;
			margin-bottom: 5px;
		}
	}

	&__position {
		font: 16px/150% $ProximaNovaSoftBold;
		color: $dimGreen;
	}

	&__content {
		grid-column: 2;
		grid-row: 2;

		@media screen and (max-width: 767px) {
			grid-column: 1/3;
			max-height: 100px;
			overflow: hidden;
			margin-bottom: 25px;
		}
	}

	&__descrip {
		font: 16px/150% $ProximaNovaSoftRegular;
		color: $darkGreen;
	}
}
