.content {
	h2 {
		font: 38px/120% $ProximaNovaSoftBold;
		letter-spacing: .02em;
		color: $darkGreen;
		margin-bottom: 30px;

		@media screen and (max-width: 1023px) {
			font-size: 32px;
			margin-bottom: 20px;
		}

		@media screen and (max-width: 767px) {
			font-size: 24px;
			margin-bottom: 25px;
		}
	}

	p {
		font: 18px/130% $ProximaNovaSoftRegular;
		color: $darkGreen;
		margin-bottom: 25px;

		@media screen and (max-width: 767px) {
			font-size: 17px;
			line-height: 125%;
		}
	}

	a {
		display: inline-block;
		font: 18px/125% $ProximaNovaSoftBold;
		color: $pink;
		margin-bottom: 35px;
		position: relative;

		@media screen and (max-width: 767px) {
			font-size: 17px;
			margin-bottom: 25px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			height: 12px;
			width: 100%;
			background: $dimYellow;
			z-index: -1;
		}

		span {
			color: $darkGreen;
		}
	}

	.video {
		width: 100%;
		min-height: 300px;
		margin-bottom: 35px;
		background: $black;

		@media screen and (max-width: 767px) {
			min-height: 150px;
			margin-bottom: 30px;
		}
	}

	.highlight {
		color: $pink;
	}

	.title-dot {
		font: 18px/125% $ProximaNovaSoftBold;
		color: $darkGreen;
		position: relative;
		padding-left: 10px;

		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $darkGreen;
		}
	}
}
