.container {
	padding: 0 30px;
	margin: 0 auto;

	@media screen and (max-width: 767px) {
		padding: 0 15px;
	}

	&--large {
		width: 1200px;

		@media screen and (max-width: 1365px) {
			width: 1024px;
		}

		@media screen and (max-width: 1023px) {
			width: 768px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			max-width: 440px;
		}
	}

	&--small {
		width: 815px;

		@media screen and (max-width: 1023px) {
			width: 768px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			max-width: 440px;
		}
	}
}
