.icon {
	transition: fill .25s ease-in-out;

	&--search {
		width: 21px;
		height: 21px;
		fill: $pink;
	}

	&--best-choice {
		width: 75px;
		height: 95px;
	}

	&--premium {
		width: 75px;
		height: 86px;
	}

	&--best-value {
		width: 80px;
		height: 80px;
	}

	&--social {
		&-author {
			width: 20px;
			height: 20px;
			fill: $pink;
		}

		&-footer {
			width: 30px;
			height: 30px;
		}

		&-fbookF {
			fill: $darkBlue;
		}

		&-twitF {
			fill: $lightBlue;
		}

		&-utube {
			fill: $red;
		}

		&-instaF {
			fill: $dimYellow;
		}

		&-pint {
			fill: $darkRed;
		}
	}
}
