.icon {
	transition: fill .25s ease-in-out;

	&--search {
		width: 100%;
		height: 100%;
		fill: $pink;
	}

	&--best-choice {
		width: 75px;
		height: 95px;

		@media screen and (max-width: 767px) {
			width: 80px;
			height: 85px;
		}
	}

	&--premium {
		width: 75px;
		height: 86px;

		@media screen and (max-width: 767px) {
			width: 80px;
			height: 80px;
		}
	}

	&--best-value {
		width: 80px;
		height: 80px;
	}

	&--social {
		&-author {
			width: 20px;
			height: 20px;
			fill: $pink;

			@media screen and (max-width: 767px) {
				width: 24px;
				height: 24px;
			}
		}

		&-footer {
			width: 30px;
			height: 30px;
		}

		&-fbookF {
			fill: $darkBlue;
		}

		&-twitF {
			fill: $lightBlue;
		}

		&-utube {
			fill: $red;
		}

		&-instaF {
			fill: $dimYellow;
		}

		&-pint {
			fill: $darkRed;
		}
	}
}
