.icon {
	&--search {
		width: 21px;
		height: 21px;
		fill: $pink;
	}

	&--social {
		&-author {
			width: 20px;
			height: 20px;
			fill: $pink;
		}

		&-footer {
			width: 30px;
			height: 30px;
		}

		&-fbookF {
			fill: $darkBlue;
		}

		&-twitF {
			fill: $lightBlue;
		}

		&-utube {
			fill: $red;
		}

		&-instaF {
			fill: $dimYellow;
		}

		&-pint {
			fill: $darkRed;
		}
	}
}
