.logo {
	display: inline-block;

	&--header {
		width: 228px;
		height: auto;

		@media screen and (max-width: 1023px) {
			width: 190px;
		}

		@media screen and (max-width: 767px) {
			width: 170px;
		}

		@media screen and (max-width: 374px) {
			width: 160px;
		}
	}

	&--footer {
		width: 270px;
		height: auto;

		@media screen and (max-width: 1023px) {
			width: 225px;
		}

		@media screen and (max-width: 767px) {
			width: 170px;
		}

		@media screen and (max-width: 374px) {
			width: 160px;
		}
	}
}
