.logo {
	display: inline-block;

	&--header {
		width: 228px;
		height: auto;

		@media screen and (max-width: 1023px) {
			width: 190px;
		}
	}

	&--footer {
		width: 264px;
		height: auto;

		@media screen and (max-width: 1023px) {
			width: 225px;
		}
	}
}
