.menu {
	&__item {
		&:not(:last-child) {
			margin-bottom: 7px;
		}
	}

	&__link {
		font: 18px/150% $ProximaNovaSoftBold;
		color: $darkGreen;
		text-transform: uppercase;
		transition: color .25s ease-in-out;

		&:hover {
			color: $dimGreen;
		}
	}
}
