.menu {
	&--header {
		&:not(:last-child) {
			margin-right: 80px;

			@media screen and (max-width: 1365px) {
				margin-right: 55px;
			}

			@media screen and (max-width: 1023px) {
				margin-right: 0;
				margin-bottom: 25px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 35px;
			}

			@media screen and (max-width: 374px) {
				margin-bottom: 30px;
			}
		}

		&-active {
			.menu__title {
				opacity: 1;

				&:before {
					opacity: 1;
				}
			}
		}
	}

	&--footer {
		@media screen and (max-width: 767px) {
			order: 1;
			display: flex;
			margin-bottom: 50px;
		}

		@media screen and (max-width: 374px) {
			flex-flow: column;
			align-items: center;
			margin-bottom: 25px;
		}
	}

	&__title {
		margin-bottom: 15px;

		@media screen and (max-width: 767px) {
			margin-bottom: 5px;
			text-align: center;
		}
	}

	&__text {
		font: 22px $ProximaNovaSoftBold;
		letter-spacing: .02em;
		color: $lightPink;
		text-transform: uppercase;
		opacity: .6;
		padding-left: 30px;
		position: relative;
		transition: opacity .25s ease-in-out;

		@media screen and (max-width: 374px) {
			font-size: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 20px;
			height: 20px;
			opacity: .6;
			transform: translateY(-50%);
			transition: opacity .25s ease-in-out;
		}

		&--dog {
			&:before {
				background: url("../img/dog.svg") no-repeat;
				background-size: cover;
			}
		}

		&--cat {
			&:before {
				background: url("../img/cat.svg") no-repeat;
				background-size: cover;
			}
		}

		&--fish {
			&:before {
				background: url("../img/fish.svg") no-repeat;
				background-size: cover;
			}
		}

		&--parrot {
			&:before {
				background: url("../img/parrot.svg") no-repeat;
				background-size: cover;
			}
		}

		&--rat {
			&:before {
				background: url("../img/rat.svg") no-repeat;
				background-size: cover;
			}
		}
	}

	&__list {
		&--header {
			@media screen and (max-width: 1023px) {
				display: flex;
				flex-flow: wrap;
			}
		}

		&--footer {
			@media screen and (max-width: 767px) {
				display: flex;
				flex-flow: column;
				width: 50%;
			}

			@media screen and (max-width: 374px) {
				width: 100%;
				align-items: center;
			}

			&-top {
				margin-bottom: 5px;

				@media screen and (max-width: 767px) {
					margin-bottom: 0;
				}

				@media screen and (max-width: 374px) {
					margin-bottom: 5px;
				}
			}
		}
	}

	&__item {
		&--header {
			@media screen and (max-width: 1023px) {
				width: 30%;
				margin-right: 20px;
			}

			@media screen and (max-width: 767px) {
				width: 100%;
				margin-right: 0;
				text-align: center;
			}

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		&--footer {
			&:not(:last-child) {
				margin-bottom: 7px;

				@media screen and (max-width: 767px) {
					margin-bottom: 5px;
				}
			}
		}
	}

	&__link {
		transition: color .25s ease-in-out;
		color: $darkGreen;

		&:hover, &:active {
			color: $dimGreen;
		}

		&--header {
			font: 16px $ProximaNovaSoftBold;
			text-transform: capitalize;
		}

		&--footer {
			font: 18px/150% $ProximaNovaSoftBold;
			text-transform: uppercase;

			@media screen and (max-width: 374px) {
				font-size: 16px;
				line-height: 140%;
			}
		}
	}
}
