.recommend {
	box-shadow: 0 0 10px rgba(72, 72, 72, .15);
	border-radius: 10px 10px 0px 0px;
	padding: 30px 30px 45px;
	margin-bottom: 50px;
	display: none;

	@media screen and (max-width: 767px) {
		padding: 25px 25px 30px;
		margin-bottom: 40px;
	}

	&__title {
		font: 38px/150% $ProximaNovaSoftBold;
		text-align: center;
		color: $pink;
		margin-bottom: 25px;

		@media screen and (max-width: 1023px) {
			font-size: 34px;
			line-height: 130%;
		}

		@media screen and (max-width: 767px) {
			font-size: 26px;
			line-height: 120%;
			margin-bottom: 20px;
		}
	}

	&__list {
		column-count: 2;

		@media screen and (max-width: 767px) {
			column-count: 1;
		}
	}

	&__item, &__text {
		font: 18px/120% $ProximaNovaSoftBold;
		color: $darkDimGreen;
		margin-bottom: 25px;
		padding-right: 5px;

		@media screen and (max-width: 767px) {
			padding-right: 0;
			margin-bottom: 15px;
			font-size: 17px;
		}
	}
}
