.recommend {
	box-shadow: 0 0 10px rgba(72, 72, 72, .15);
	border-radius: 10px 10px 0 0;
	padding: 35px 30px 45px;
	margin-bottom: 50px;
	display: none;

	@media screen and (max-width: 1023px) {
		padding-top: 30px;
		padding-bottom: 30px;
		max-width: 620px;
		margin: 0 auto 40px;
	}

	@media screen and (max-width: 767px) {
		padding: 25px 25px 30px;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 374px) {
		padding: 25px 20px;
	}

	&__title {
		font: 38px $ProximaNovaSoftBold;
		text-align: center;
		color: $pink;
		margin-bottom: 35px;

		@media screen and (max-width: 1365px) {
			font-size: 36px;
		}

		@media screen and (max-width: 1023px) {
			font-size: 32px;
			margin-bottom: 25px;
		}

		@media screen and (max-width: 767px) {
			font-size: 26px;
			margin-bottom: 20px;
		}

		@media screen and (max-width: 374px) {
			font-size: 22px;
		}
	}

	&__list {
		column-count: 2;
		column-gap: 30px;

		@media screen and (max-width: 767px) {
			column-count: 1;
		}
	}

	&__item {
		font: 18px/120% $ProximaNovaSoftBold;
		color: $darkDimGreen;

		@media screen and (max-width: 1023px) {
			font-size: 16px;
		}

		@media screen and (max-width: 767px) {
			font-size: 14px;
		}

		&:not(:last-child) {
			margin-bottom: 25px;

			@media screen and (max-width: 1023px) {
				margin-bottom: 20px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 15px;
			}

			@media screen and (max-width: 374px) {
				margin-bottom: 10px;
			}
		}
	}
}
