.title {
	&--page {
		color: $darkGreen;
		font: 50px/120% $ProximaNovaSoftBold;
		letter-spacing: .02em;
		margin-bottom: 15px;
		max-width: 600px;
	}

	&--section {
		font: 38px/120% $ProximaNovaSoftBold;
		letter-spacing: .02em;
		color: $darkGreen;

		&-shampoo {
			padding-left: 200px;
			margin-bottom: 70px;
		}
	}
}
